{% extends "page.html" %}

{% block head_extras -%}
    {{ super() }}
{% endblock -%}

{% block breadcrumb_content %}
{% endblock %}

{% block secondary_content %}
    <div class="container-fluid">
        <h2>Meta Data</h2>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a>Query</a>
            </div>
            <div class="panel-body">
                <p style="word-wrap: anywhere">{{ query.query }}</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <a>Result Set Hash</a>
            </div>
            <div class="panel-body">
                {% if query.result_set_hash %}
                    <p style="word-wrap: anywhere">{{ query.result_set_hash }}</p>
                {% else %}
                    <img src="/img/ajaxload-circle.gif"/>
                {% endif %}
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <a>Query Hash</a>
            </div>
            <div class="panel-body">
                <p style="word-wrap: anywhere"> {{ query.query_hash }}</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a>Resource ID</a>
            </div>
            <div class="panel-body">
                <p style="word-wrap: anywhere">{{ query.resource_id }}</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a>Timestamp</a>
            </div>
            <div class="panel-body">
                <p style="word-wrap: anywhere">{{ query.timestamp }}</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a>Hash Algorithm</a>
            </div>
            <div class="panel-body">
                <p style="word-wrap: anywhere">{{ query.hash_algorithm }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %}
    <h2>Result Set</h2>
{% endblock %}

{% block primary_content_inner %}

    <div class="btn-group navbar">
    <span>
        <a class="btn btn-primary resource-url-analytics resource-type-None"
           href="/datadump/querystore_resolve/{{ query.id }}?format=csv">
            <i class="fa fa-arrow-circle-o-down"></i> Download as CSV
        </a>
    </span>

        <span>
        <a class="btn btn-primary resource-url-analytics resource-type-None"
           href="/datadump/querystore_resolve/{{ query.id }}?format=json">
            <i class="fa fa-arrow-circle-o-down"></i> Download as JSON
        </a>
    </span>
        <span>
        <a class="btn btn-primary resource-url-analytics resource-type-None"
           href="/datadump/querystore_resolve/{{ query.id }}?format=xml">
            <i class="fa fa-arrow-circle-o-down"></i> Download as XML
        </a>
    </span>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Citation Text</div>
        <div class="panel-body">
            {% snippet 'mongodatastore/citation_template/standard_citation.html', m=meta, q=query %}
        </div>
    </div>


    {% set fields = h.datastore_dictionary(query.resource_id) %}

    <!--
        TODO: change to server-side processing, if size of subsets becomes an issue!
    -->
    <div>
        {% if result_set %}
            <table id="resultset"
                   class="table table-striped table-bordered"
                   data-paging="true"
                   data-responsive="false"
                   data-server-side="false"
                   data-fixed-header="false"
                   data-fixed-column="false"
                   data-scroll-x="true"
                   data-ordering="false">
                <thead>
                <tr>
                    {% for field in projection %}

                        <th>
                            {{ field.id }}
                        </th>

                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for r in result_set %}
                    <tr>

                        {% for field in projection %}

                            <td>
                                {{ r[field.id] }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    Information
                </div>
                <div class="panel-body">
                    The resultset preview is disabled for this dataset!
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}

{% block styles %}
    {{ super() }}

    {% resource 'ckanext-mongodatastore/main' %}

{% endblock %}