[groups]

main =
    vendor/Bootstrap-3.3.7/css/bootstrap.css
    vendor/Buttons-1.5.4/css/buttons.bootstrap.css
    vendor/DataTables-1.10.18/css/dataTables.bootstrap.css
    vendor/FixedColumns-3.2.5/css/fixedColumns.bootstrap.css
    vendor/FixedHeader-3.1.4/css/fixedHeader.bootstrap.css
    vendor/KeyTable-2.5.0/css/keyTable.bootstrap.css
    vendor/Select-1.2.6/css/select.bootstrap.css

    vendor/Bootstrap-3.3.7/js/bootstrap.js
    vendor/Buttons-1.5.4/js/dataTables.buttons.js
    vendor/Buttons-1.5.4/js/buttons.bootstrap.js
    vendor/Buttons-1.5.4/js/buttons.colVis.js
    vendor/DataTables-1.10.18/js/jquery.dataTables.js
    vendor/DataTables-1.10.18/js/dataTables.bootstrap.js
    vendor/FixedColumns-3.2.5/js/dataTables.fixedColumns.js
    vendor/FixedHeader-3.1.4/js/dataTables.fixedHeader.js
    vendor/KeyTable-2.5.0/js/dataTables.keyTable.js
    vendor/Select-1.2.6/js/dataTables.select.js

    datatablesview.js
