<div class="module-content box">
    <section class="featured media-overlay hidden-xs">
        <a class="media-image" href="#">
            <a href="https://imgflip.com/i/4csf1v"><img src="https://i.imgflip.com/4csf1v.jpg" title="made at imgflip.com"/></a><div><a href="https://imgflip.com/memegenerator">from Imgflip Meme Generator</a></div>
            <!--<img class="img-responsive" src="{{ h.url_for_static('/img/feature_img.png') }}" alt="Placeholder"
                 width="420" height="220"/>-->
        </a>
    </section>
</div>
