{% extends "package/resource_edit_base.html" %}

{% block resource_actions_inner %}
{{ super() }}
{% if resource.format in ['Database', 'database', 'db'] %}
<li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
{% endif %}
{% endblock %}

{% block primary_content_inner %}

{% if not reachable %}

<div class="panel panel-danger">
    <div class="panel-heading">
        <a>Warning</a>
    </div>
    <div class="panel-body">
        <a>Connection to the provided URL "<span style="font-style:italic">{{resource.url}}</span>" could not be
            established.</a>
    </div>
</div>

{% endif %}

{% set action = h.url_for(
controller='ckanext.mongodatastore.controller:MongoDatastoreController',
action='import_table') %}

<form method="get" action="{{ action }}">
    <label for="table">Choose a table</label>
    <select class="form-control" name="table" id="table" placeholder="Table ...">
        {% for table in public_tables %}
        <option value="{{ table }}">{{ table }}</option>
        {% endfor %}
    </select><br/>

    <label for="method">Import Strategy</label>
    <select class="form-control" id="method" name="method">
        <option>upsert</option>
    </select>

    <input type="hidden" name="resource_id" value="{{ resource.id }}"/><br/>

    <button type="submit" class="btn btn-default">Import</button>
</form>

{% endblock %}